<% layout('layouts/boilerplate') -%>

<form class="container" style="width: 25rem;" action="/register" method="POST">
  <div class="mb-3">
      <label for="username" class="form-label">Username</label>
      <input type="text" class="form-control" id="username" name="username" required>
    </div>
  <div class="mb-3">
    <label for="email" class="form-label">Email address</label>
    <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" required>
    <div id="email" class="form-text text-muted">We'll never share your email with anyone else.</div>
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input type="password" class="form-control" id="Password" name="password" required>
  </div>
  <button type="submit" class="btn btn-primary">Create User</button>
</form>